dist
node_modules
coverage
coverage-*
*.log
.env
.env.local
packages/mobile/ios
packages/mobile/android
.expo/
android/
ios/
packages/api/keycloak/backups
packages/api/keycloak/realms
packages/api/keycloak/realms/*-exported*.json
packages/api/keycloak/realms/*-backup*.json
packages/api/keycloak/realms/*-*.json
!packages/api/keycloak/realms/carecore-realm.json
!packages/api/keycloak/realms/.gitkeep
